In [62]:
import numpy as np
import pandas as pd
import tushare as ts

In [63]:
pro = ts.pro_api('c3450fdabd780ea8ef13ebdd0230c2e52a5737b05cfb0377eecc2f84')

In [74]:
pro.ths_index()

Exception: 抱歉，您没有访问该接口的权限，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。

In [71]:
ts.__dict__

{'__name__': 'tushare',
 '__doc__': None,
 '__package__': 'tushare',
 '__loader__': <_frozen_importlib_external.SourceFileLoader at 0x7fdb40c74a50>,
 '__spec__': ModuleSpec(name='tushare', loader=<_frozen_importlib_external.SourceFileLoader object at 0x7fdb40c74a50>, origin='/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/__init__.py', submodule_search_locations=['/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare']),
 '__path__': ['/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare'],
 '__file__': '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/__init__.py',
 '__cached__': '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/__pycache__/__init__.cpython-37.pyc',
 '__builtins__': {'__name__': 'builtins',
  '__doc__': "Built-in functions, exceptions, and other objects.\n\nNoteworthy: None is the `nil' object; Ellipsis represents `...' in slices.",
  '__package__': '',
  '__loader__': _frozen_importlib.BuiltinImporter,
  '__spec__': ModuleSpec(name='builtins', loader=<class '_frozen_importlib.BuiltinImporter'>),
  '__build_class__': <function __build_class__>,
  '__import__': <function __import__>,
  'abs': <function abs(x, /)>,
  'all': <function all(iterable, /)>,
  'any': <function any(iterable, /)>,
  'ascii': <function ascii(obj, /)>,
  'bin': <function bin(number, /)>,
  'breakpoint': <function breakpoint>,
  'callable': <function callable(obj, /)>,
  'chr': <function chr(i, /)>,
  'compile': <function compile(source, filename, mode, flags=0, dont_inherit=False, optimize=-1)>,
  'delattr': <function delattr(obj, name, /)>,
  'dir': <function dir>,
  'divmod': <function divmod(x, y, /)>,
  'eval': <function eval(source, globals=None, locals=None, /)>,
  'exec': <function exec(source, globals=None, locals=None, /)>,
  'format': <function format(value, format_spec='', /)>,
  'getattr': <function getattr>,
  'globals': <function globals()>,
  'hasattr': <function hasattr(obj, name, /)>,
  'hash': <function hash(obj, /)>,
  'hex': <function hex(number, /)>,
  'id': <function id(obj, /)>,
  'input': <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x7fdb40955b10>>,
  'isinstance': <function isinstance(obj, class_or_tuple, /)>,
  'issubclass': <function issubclass(cls, class_or_tuple, /)>,
  'iter': <function iter>,
  'len': <function len(obj, /)>,
  'locals': <function locals()>,
  'max': <function max>,
  'min': <function min>,
  'next': <function next>,
  'oct': <function oct(number, /)>,
  'ord': <function ord(c, /)>,
  'pow': <function pow(x, y, z=None, /)>,
  'print': <function print>,
  'repr': <function repr(obj, /)>,
  'round': <function round(number, ndigits=None)>,
  'setattr': <function setattr(obj, name, value, /)>,
  'sorted': <function sorted(iterable, /, *, key=None, reverse=False)>,
  'sum': <function sum(iterable, start=0, /)>,
  'vars': <function vars>,
  'None': None,
  'Ellipsis': Ellipsis,
  'NotImplemented': NotImplemented,
  'False': False,
  'True': True,
  'bool': bool,
  'memoryview': memoryview,
  'bytearray': bytearray,
  'bytes': bytes,
  'classmethod': classmethod,
  'complex': complex,
  'dict': dict,
  'enumerate': enumerate,
  'filter': filter,
  'float': float,
  'frozenset': frozenset,
  'property': property,
  'int': int,
  'list': list,
  'map': map,
  'object': object,
  'range': range,
  'reversed': reversed,
  'set': set,
  'slice': slice,
  'staticmethod': staticmethod,
  'str': str,
  'super': super,
  'tuple': tuple,
  'type': type,
  'zip': zip,
  '__debug__': True,
  'BaseException': BaseException,
  'Exception': Exception,
  'TypeError': TypeError,
  'StopAsyncIteration': StopAsyncIteration,
  'StopIteration': StopIteration,
  'GeneratorExit': GeneratorExit,
  'SystemExit': SystemExit,
  'KeyboardInterrupt': KeyboardInterrupt,
  'ImportError': ImportError,
  'ModuleNotFoundError': ModuleNotFoundError,
  'OSError': OSError,
  'EnvironmentError': OSError,
  'IOError': OSError,
  'EOFError': EOFError,
  'RuntimeError': RuntimeError,
  'RecursionError': RecursionError,
  'NotImplementedError': NotImplementedError,
  'NameError': NameError,
  'UnboundLocalError': UnboundLocalError,
  'AttributeError': AttributeError,
  'SyntaxError': SyntaxError,
  'IndentationError': IndentationError,
  'TabError': TabError,
  'LookupError': LookupError,
  'IndexError': IndexError,
  'KeyError': KeyError,
  'ValueError': ValueError,
  'UnicodeError': UnicodeError,
  'UnicodeEncodeError': UnicodeEncodeError,
  'UnicodeDecodeError': UnicodeDecodeError,
  'UnicodeTranslateError': UnicodeTranslateError,
  'AssertionError': AssertionError,
  'ArithmeticError': ArithmeticError,
  'FloatingPointError': FloatingPointError,
  'OverflowError': OverflowError,
  'ZeroDivisionError': ZeroDivisionError,
  'SystemError': SystemError,
  'ReferenceError': ReferenceError,
  'MemoryError': MemoryError,
  'BufferError': BufferError,
  'Warning': Warning,
  'UserWarning': UserWarning,
  'DeprecationWarning': DeprecationWarning,
  'PendingDeprecationWarning': PendingDeprecationWarning,
  'SyntaxWarning': SyntaxWarning,
  'RuntimeWarning': RuntimeWarning,
  'FutureWarning': FutureWarning,
  'ImportWarning': ImportWarning,
  'UnicodeWarning': UnicodeWarning,
  'BytesWarning': BytesWarning,
  'ResourceWarning': ResourceWarning,
  'ConnectionError': ConnectionError,
  'BlockingIOError': BlockingIOError,
  'BrokenPipeError': BrokenPipeError,
  'ChildProcessError': ChildProcessError,
  'ConnectionAbortedError': ConnectionAbortedError,
  'ConnectionRefusedError': ConnectionRefusedError,
  'ConnectionResetError': ConnectionResetError,
  'FileExistsError': FileExistsError,
  'FileNotFoundError': FileNotFoundError,
  'IsADirectoryError': IsADirectoryError,
  'NotADirectoryError': NotADirectoryError,
  'InterruptedError': InterruptedError,
  'PermissionError': PermissionError,
  'ProcessLookupError': ProcessLookupError,
  'TimeoutError': TimeoutError,
  'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
  'copyright': Copyright (c) 2001-2021 Python Software Foundation.
  All Rights Reserved.

  Copyright (c) 2000 BeOpen.com.
  All Rights Reserved.

  Copyright (c) 1995-2001 Corporation for National Research Initiatives.
  All Rights Reserved.

  Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
  All Rights Reserved.,
  'credits':     Thanks to CWI, CNRI, BeOpen.com, Zope Corporation and a cast of thousands
      for supporting Python development.  See www.python.org for more information.,
  'license': Type license() to see the full license text,
  'help': Type help() for interactive help, or help(object) for help about object.,
  '__IPYTHON__': True,
  'display': <function IPython.core.display.display(*objs, include=None, exclude=None, metadata=None, transient=None, display_id=None, **kwargs)>,
  'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x7fdb401eb810>>},
 'codecs': <module 'codecs' from '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/codecs.py'>,
 'os': <module 'os' from '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/os.py'>,
 '__version__': '1.2.62',
 '__author__': 'Jimmy Liu',
 'stock': <module 'tushare.stock' from '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/stock/__init__.py'>,
 'util': <module 'tushare.util' from '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/util/__init__.py'>,
 'get_hist_data': <function tushare.stock.trading.get_hist_data(code=None, start=None, end=None, ktype='D', retry_count=3, pause=0.001)>,
 'get_tick_data': <function tushare.stock.trading.get_tick_data(code=None, date=None, retry_count=3, pause=0.001, src='sn')>,
 'get_today_all': <function tushare.stock.trading.get_today_all()>,
 'get_realtime_quotes': <function tushare.stock.trading.get_realtime_quotes(symbols=None)>,
 'get_h_data': <function tushare.stock.trading.get_h_data(code, start=None, end=None, autype='qfq', index=False, retry_count=3, pause=0.001, drop_factor=True)>,
 'get_today_ticks': <function tushare.stock.trading.get_today_ticks(code=None, retry_count=3, pause=0.001)>,
 'get_index': <function tushare.stock.trading.get_index()>,
 'get_hists': <function tushare.stock.trading.get_hists(symbols, start=None, end=None, ktype='D', retry_count=3, pause=0.001)>,
 'get_k_data': <function tushare.stock.trading.get_k_data(code=None, start='', end='', ktype='D', autype='qfq', index=False, retry_count=3, pause=0.001)>,
 'get_day_all': <function tushare.stock.trading.get_day_all(date=None)>,
 'get_sina_dd': <function tushare.stock.trading.get_sina_dd(code=None, date=None, vol=400, retry_count=3, pause=0.001)>,
 'bar': <function tushare.stock.trading.bar(code, conn=None, start_date=None, end_date=None, freq='D', asset='E', market='', adj=None, ma=[], factors=[], retry_count=3)>,
 'tick': <function tushare.stock.trading.tick(code, conn=None, date='', asset='E', market='', retry_count=3)>,
 'get_markets': <function tushare.stock.trading.get_markets(xapi=None)>,
 'quotes': <function tushare.stock.trading.quotes(symbols, conn=None, asset='E', market=[], retry_count=3)>,
 'get_instrument': <function tushare.stock.trading.get_instrument(xapi=None)>,
 'reset_instrument': <function tushare.stock.trading.reset_instrument(xapi=None)>,
 'get_stock_basics': <function tushare.stock.fundamental.get_stock_basics(date=None)>,
 'get_report_data': <function tushare.stock.fundamental.get_report_data(year, quarter)>,
 'get_profit_data': <function tushare.stock.fundamental.get_profit_data(year, quarter)>,
 'get_operation_data': <function tushare.stock.fundamental.get_operation_data(year, quarter)>,
 'get_growth_data': <function tushare.stock.fundamental.get_growth_data(year, quarter)>,
 'get_debtpaying_data': <function tushare.stock.fundamental.get_debtpaying_data(year, quarter)>,
 'get_cashflow_data': <function tushare.stock.fundamental.get_cashflow_data(year, quarter)>,
 'get_balance_sheet': <function tushare.stock.fundamental.get_balance_sheet(code)>,
 'get_profit_statement': <function tushare.stock.fundamental.get_profit_statement(code)>,
 'get_cash_flow': <function tushare.stock.fundamental.get_cash_flow(code)>,
 'get_gdp_year': <function tushare.stock.macro.get_gdp_year()>,
 'get_gdp_quarter': <function tushare.stock.macro.get_gdp_quarter()>,
 'get_gdp_for': <function tushare.stock.macro.get_gdp_for()>,
 'get_gdp_pull': <function tushare.stock.macro.get_gdp_pull()>,
 'get_gdp_contrib': <function tushare.stock.macro.get_gdp_contrib()>,
 'get_cpi': <function tushare.stock.macro.get_cpi()>,
 'get_ppi': <function tushare.stock.macro.get_ppi()>,
 'get_deposit_rate': <function tushare.stock.macro.get_deposit_rate()>,
 'get_loan_rate': <function tushare.stock.macro.get_loan_rate()>,
 'get_rrr': <function tushare.stock.macro.get_rrr()>,
 'get_money_supply': <function tushare.stock.macro.get_money_supply()>,
 'get_money_supply_bal': <function tushare.stock.macro.get_money_supply_bal()>,
 'get_gold_and_foreign_reserves': <function tushare.stock.macro.get_gold_and_foreign_reserves()>,
 'get_industry_classified': <function tushare.stock.classifying.get_industry_classified(standard='sina')>,
 'get_concept_classified': <function tushare.stock.classifying.get_concept_classified()>,
 'get_area_classified': <function tushare.stock.classifying.get_area_classified()>,
 'get_gem_classified': <function tushare.stock.classifying.get_gem_classified()>,
 'get_sme_classified': <function tushare.stock.classifying.get_sme_classified()>,
 'get_st_classified': <function tushare.stock.classifying.get_st_classified()>,
 'get_hs300s': <function tushare.stock.classifying.get_hs300s()>,
 'get_sz50s': <function tushare.stock.classifying.get_sz50s()>,
 'get_zz500s': <function tushare.stock.classifying.get_zz500s()>,
 'get_terminated': <function tushare.stock.classifying.get_terminated()>,
 'get_suspended': <function tushare.stock.classifying.get_suspended()>,
 'get_latest_news': <function tushare.stock.newsevent.get_latest_news(top=None, show_content=False)>,
 'latest_content': <function tushare.stock.newsevent.latest_content(url)>,
 'get_notices': <function tushare.stock.newsevent.get_notices(code=None, date=None)>,
 'notice_content': <function tushare.stock.newsevent.notice_content(url)>,
 'guba_sina': <function tushare.stock.newsevent.guba_sina(show_content=False)>,
 'profit_data': <function tushare.stock.reference.profit_data(year=2017, top=25, retry_count=3, pause=0.001)>,
 'forecast_data': <function tushare.stock.reference.forecast_data(year, quarter)>,
 'xsg_data': <function tushare.stock.reference.xsg_data(year=None, month=None, retry_count=3, pause=0.001)>,
 'fund_holdings': <function tushare.stock.reference.fund_holdings(year, quarter, retry_count=3, pause=0.001)>,
 'new_stocks': <function tushare.stock.reference.new_stocks(retry_count=3, pause=0.001)>,
 'new_cbonds': <function tushare.stock.reference.new_cbonds(default=1, retry_count=3, pause=0.001)>,
 'sh_margins': <function tushare.stock.reference.sh_margins(start=None, end=None, retry_count=3, pause=0.001)>,
 'sh_margin_details': <function tushare.stock.reference.sh_margin_details(date='', symbol='', start='', end='', retry_count=3, pause=0.001)>,
 'sz_margins': <function tushare.stock.reference.sz_margins(start=None, end=None, retry_count=3, pause=0.001)>,
 'sz_margin_details': <function tushare.stock.reference.sz_margin_details(date='', retry_count=3, pause=0.001)>,
 'top10_holders': <function tushare.stock.reference.top10_holders(code=None, year=None, quarter=None, gdtype='0', retry_count=3, pause=0.001)>,
 'profit_divis': <function tushare.stock.reference.profit_divis()>,
 'moneyflow_hsgt': <function tushare.stock.reference.moneyflow_hsgt()>,
 'margin_detail': <function tushare.stock.reference.margin_detail(date='')>,
 'margin_target': <function tushare.stock.reference.margin_target(date='')>,
 'margin_offset': <function tushare.stock.reference.margin_offset(date)>,
 'margin_zsl': <function tushare.stock.reference.margin_zsl(date='', broker='')>,
 'stock_issuance': <function tushare.stock.reference.stock_issuance(start_date='', end_date='')>,
 'stock_pledged': <function tushare.stock.reference.stock_pledged()>,
 'pledged_detail': <function tushare.stock.reference.pledged_detail()>,
 'shibor_data': <function tushare.stock.shibor.shibor_data(year=None)>,
 'shibor_quote_data': <function tushare.stock.shibor.shibor_quote_data(year=None)>,
 'shibor_ma_data': <function tushare.stock.shibor.shibor_ma_data(year=None)>,
 'lpr_data': <function tushare.stock.shibor.lpr_data(year=None)>,
 'lpr_ma_data': <function tushare.stock.shibor.lpr_ma_data(year=None)>,
 'pro': <module 'tushare.pro' from '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/pro/__init__.py'>,
 'subs': <function tushare.pro.data_pro.subs(token='')>,
 'pro_api': <function tushare.pro.data_pro.pro_api(token='', timeout=30)>,
 'pro_bar': <function tushare.pro.data_pro.pro_bar(ts_code='', api=None, start_date='', end_date='', freq='D', asset='E', exchange='', adj=None, ma=[], factors=None, adjfactor=False, offset=None, limit=None, contract_type='', retry_count=3)>,
 'top_list': <function tushare.stock.billboard.top_list(date=None, retry_count=3, pause=0.001)>,
 'cap_tops': <function tushare.stock.billboard.cap_tops(days=5, retry_count=3, pause=0.001)>,
 'broker_tops': <function tushare.stock.billboard.broker_tops(days=5, retry_count=3, pause=0.001)>,
 'inst_tops': <function tushare.stock.billboard.inst_tops(days=5, retry_count=3, pause=0.001)>,
 'inst_detail': <function tushare.stock.billboard.inst_detail(retry_count=3, pause=0.001)>,
 'trade_cal': <function tushare.util.dateu.trade_cal()>,
 'is_holiday': <function tushare.util.dateu.is_holiday(date)>,
 'internet': <module 'tushare.internet' from '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/internet/__init__.py'>,
 'realtime_boxoffice': <function tushare.internet.boxoffice.realtime_boxoffice(retry_count=3, pause=0.001)>,
 'day_boxoffice': <function tushare.internet.boxoffice.day_boxoffice(date=None, retry_count=3, pause=0.001)>,
 'day_cinema': <function tushare.internet.boxoffice.day_cinema(date=None, retry_count=3, pause=0.001)>,
 'month_boxoffice': <function tushare.internet.boxoffice.month_boxoffice(date=None, retry_count=3, pause=0.001)>,
 'bdi': <function tushare.internet.indexes.bdi(itype='D', retry_count=3, pause=0.001)>,
 'fund': <module 'tushare.fund' from '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/fund/__init__.py'>,
 'get_nav_open': <function tushare.fund.nav.get_nav_open(fund_type='all')>,
 'get_nav_close': <function tushare.fund.nav.get_nav_close(fund_type='all', sub_type='all')>,
 'get_nav_grading': <function tushare.fund.nav.get_nav_grading(fund_type='all', sub_type='all')>,
 'get_nav_history': <function tushare.fund.nav.get_nav_history(code, start=None, end=None, retry_count=3, pause=0.001, timeout=10)>,
 'get_fund_info': <function tushare.fund.nav.get_fund_info(code)>,
 'trader': <module 'tushare.trader' from '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/trader/__init__.py'>,
 'TraderAPI': tushare.trader.trader.TraderAPI,
 'futures': <module 'tushare.futures' from '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/futures/__init__.py'>,
 'get_intlfuture': <function tushare.futures.intlfutures.get_intlfuture(symbols=None)>,
 'global_realtime': <function tushare.stock.globals.global_realtime(symbols=None)>,
 'MailMerge': tushare.util.mailmerge.MailMerge,
 'get_cffex_daily': <function tushare.futures.domestic.get_cffex_daily(date=None)>,
 'get_czce_daily': <function tushare.futures.domestic.get_czce_daily(date=None, type='future')>,
 'get_dce_daily': <function tushare.futures.domestic.get_dce_daily(date=None, type='future', retries=0)>,
 'get_future_daily': <function tushare.futures.domestic.get_future_daily(start=None, end=None, market='CFFEX')>,
 'get_shfe_daily': <function tushare.futures.domestic.get_shfe_daily(date=None)>,
 'get_shfe_vwap': <function tushare.futures.domestic.get_shfe_vwap(date=None)>,
 'coins': <module 'tushare.coins' from '/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/tushare/coins/__init__.py'>,
 'coins_tick': <function tushare.coins.market.coins_tick(broker='hb', code='btc')>,
 'coins_bar': <function tushare.coins.market.coins_bar(broker='hb', code='btc', ktype='D', size='2000')>,
 'coins_snapshot': <function tushare.coins.market.coins_snapshot(broker='hb', code='btc', size='5')>,
 'coins_trade': <function tushare.coins.market.coins_trade(broker='hb', code='btc')>,
 'get_apis': <function tushare.util.conns.get_apis()>,
 'close_apis': <function tushare.util.conns.close_apis(conn)>,
 'get_token': <function tushare.util.upass.get_token()>,
 'set_token': <function tushare.util.upass.set_token(token)>}

In [64]:
hgt = pro.moneyflow_hsgt(start_date="201210701", end_date="202107289")

In [65]:
hgt

    trade_date   ggt_ss    ggt_sz      hgt      sgt  north_money  south_money
0     20210728  -699.27 -12643.74  2428.10  5624.72      8052.82    -13343.01
1     20210727  2580.38  -3855.50 -3464.29  -707.60     -4171.89     -1275.12
2     20210726 -2142.42  -4191.62 -5649.78 -7151.95    -12801.73     -6334.04
3     20210723 -2826.19  -2046.26   492.58 -5152.07     -4659.49     -4872.45
4     20210722 -1468.93   -799.48  1597.44  4329.20      5926.64     -2268.41
..         ...      ...       ...      ...      ...          ...          ...
295   20200427    52.35    780.97  1879.81  2058.78      3938.59       833.32
296   20200424   282.95    200.26  1562.44  1687.31      3249.75       483.21
297   20200423   134.77   1004.42  1619.98  -928.93       691.05      1139.19
298   20200422  -453.18   1421.44   693.18   484.88      1178.06       968.26
299   20200421  2340.55    724.96 -1245.52 -1507.00     -2752.52      3065.51

[300 rows x 7 columns]

In [5]:
hgt["trade_date"] = pd.to_datetime(hgt["trade_date"])
hgt.set_index("trade_date", inplace=True)

In [6]:
hgt

             ggt_ss    ggt_sz      hgt      sgt  north_money  south_money
trade_date
2021-07-28  -699.27 -12643.74  2428.10  5624.72      8052.82    -13343.01
2021-07-27  2580.38  -3855.50 -3464.29  -707.60     -4171.89     -1275.12
2021-07-26 -2142.42  -4191.62 -5649.78 -7151.95    -12801.73     -6334.04
2021-07-23 -2826.19  -2046.26   492.58 -5152.07     -4659.49     -4872.45
2021-07-22 -1468.93   -799.48  1597.44  4329.20      5926.64     -2268.41
...             ...       ...      ...      ...          ...          ...
2020-04-27    52.35    780.97  1879.81  2058.78      3938.59       833.32
2020-04-24   282.95    200.26  1562.44  1687.31      3249.75       483.21
2020-04-23   134.77   1004.42  1619.98  -928.93       691.05      1139.19
2020-04-22  -453.18   1421.44   693.18   484.88      1178.06       968.26
2020-04-21  2340.55    724.96 -1245.52 -1507.00     -2752.52      3065.51

[300 rows x 6 columns]

In [63]:
df = pro.trade_cal(exchange="", start_date="20141117", end_date="20210713")

In [64]:
df.head(10)

  exchange  cal_date  is_open
0      SSE  20141117        1
1      SSE  20141118        1
2      SSE  20141119        1
3      SSE  20141120        1
4      SSE  20141121        1
5      SSE  20141122        0
6      SSE  20141123        0
7      SSE  20141124        1
8      SSE  20141125        1
9      SSE  20141126        1

In [38]:
pro.moneyflow_hsgt(trade_date="20141117").to_numpy()

array([['20141117', 1768.0, None, 13000.0, None, 13000.0, 1768.0]],
      dtype=object)

In [58]:
df.empty

False

In [46]:
df[df["is_open"] == 0]

Empty DataFrame
Columns: [exchange, cal_date, is_open]
Index: []

In [47]:
df.columns

Index(['exchange', 'cal_date', 'is_open'], dtype='object')

In [56]:
df

     exchange  cal_date  is_open
0         SSE  20141117        1
1         SSE  20141118        1
2         SSE  20141119        1
3         SSE  20141120        1
4         SSE  20141121        1
...       ...       ...      ...
2424      SSE  20210707        1
2425      SSE  20210708        1
2426      SSE  20210709        1
2429      SSE  20210712        1
2430      SSE  20210713        1

[1622 rows x 3 columns]

In [60]:
hsgt = pd.read_csv("./hsgt.csv")
hsgt["trade_date"] = pd.to_datetime(hsgt["trade_date"])
hsgt.set_index("trade_date", inplace=True)
hsgt.head()

            ggt_ss  ggt_sz      hgt  sgt  north_money  south_money
trade_date
2014-11-17  1768.0     NaN  13000.0  NaN      13000.0       1768.0
2014-11-18   800.0     NaN   4845.0  NaN       4845.0        800.0
2014-11-19   253.0     NaN   2612.0  NaN       2612.0        253.0
2014-11-20   196.0     NaN   2276.0  NaN       2276.0        196.0
2014-11-21   186.0     NaN   2341.0  NaN       2341.0        186.0

In [62]:
hsgt.index[-1]

Timestamp('2021-07-13 00:00:00')

In [65]:
df.tail()

     exchange  cal_date  is_open
2426      SSE  20210709        1
2427      SSE  20210710        0
2428      SSE  20210711        0
2429      SSE  20210712        1
2430      SSE  20210713        1

In [69]:
df["cal_date"] = pd.to_datetime(df["cal_date"])
trade_dates = df["cal_date"].to_numpy()

In [72]:
trade_dates = trade_dates[trade_dates > hsgt.index[-1]]
trade_dates

array([], dtype='datetime64[ns]')

In [82]:
df = pro.index_daily(ts_code='399300.SZ')
df

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,399300.SZ,20210714,5083.0849,5130.7522,5130.7522,5075.1252,5142.0991,-59.0142,-1.1477,1.883527e+08,3.725681e+08
1,399300.SZ,20210713,5142.0991,5128.6138,5154.0508,5114.9430,5132.7088,9.3903,0.1830,1.664822e+08,3.613285e+08
2,399300.SZ,20210712,5132.7088,5108.3783,5159.4115,5070.3188,5069.4361,63.2727,1.2481,2.062120e+08,4.372031e+08
3,399300.SZ,20210709,5069.4361,5063.1480,5081.4086,5006.4115,5088.2566,-18.8205,-0.3699,1.606532e+08,3.528456e+08
4,399300.SZ,20210708,5088.2566,5149.3095,5151.2171,5078.9295,5140.4899,-52.2333,-1.0161,1.739010e+08,3.978799e+08
...,...,...,...,...,...,...,...,...,...,...,...
4012,399300.SZ,20050110,993.8790,983.7600,993.9590,979.7890,983.9580,9.9210,1.0083,5.791698e+06,3.762933e+06
4013,399300.SZ,20050107,983.9580,983.0450,995.7110,979.8120,983.1740,0.7840,0.0797,7.298694e+06,4.737469e+06
4014,399300.SZ,20050106,983.1740,993.3310,993.7880,980.3300,992.5640,-9.3900,-0.9460,6.288029e+06,3.921015e+06
4015,399300.SZ,20050105,992.5640,981.5770,997.3230,979.8770,982.7940,9.7700,0.9941,7.119109e+06,4.529208e+06
4016,399300.SZ,20050104,982.7940,994.7690,994.7690,980.6580,1000.0000,-17.2060,-1.7206,7.412869e+06,4.431977e+06

In [76]:
import pandas_datareader.data as web

ModuleNotFoundError: No module named 'pandas_datareader'

In [133]:
hs300 = pro.index_daily(ts_code='399300.SZ', start_date='20141117', end_date='20210713')
hs300["trade_date"] = pd.to_datetime(hs300["trade_date"])
hs300.set_index("trade_date", inplace=True)

In [134]:
hs300[["close", "open"]]

                close       open
trade_date
2021-07-13  5142.0991  5128.6138
2021-07-12  5132.7088  5108.3783
2021-07-09  5069.4361  5063.1480
2021-07-08  5088.2566  5149.3095
2021-07-07  5140.4899  5052.4204
...               ...        ...
2014-11-21  2583.4550  2537.5380
2014-11-20  2537.0990  2528.7800
2014-11-19  2537.2230  2538.2330
2014-11-18  2541.4160  2565.2730
2014-11-17  2567.1010  2613.5130

[1622 rows x 2 columns]

In [135]:
df = pd.read_csv("./north_bound/hsgt.csv")
df["trade_date"] = pd.to_datetime(df["trade_date"])
df.set_index("trade_date", inplace=True)

In [137]:
df = df[df.index >= pd.to_datetime("2014-11-17")]
df

             ggt_ss   ggt_sz       hgt      sgt  north_money  south_money
trade_date
2014-11-17  1768.00      NaN  13000.00      NaN     13000.00      1768.00
2014-11-18   800.00      NaN   4845.00      NaN      4845.00       800.00
2014-11-19   253.00      NaN   2612.00      NaN      2612.00       253.00
2014-11-20   196.00      NaN   2276.00      NaN      2276.00       196.00
2014-11-21   186.00      NaN   2341.00      NaN      2341.00       186.00
...             ...      ...       ...      ...          ...          ...
2021-07-08 -1898.37 -4047.94  -1633.64   -67.42     -1701.06     -5946.31
2021-07-09  1815.88  1481.26    110.04  -321.28      -211.24      3297.14
2021-07-12  1723.75 -2305.59  -1922.65  3564.69      1642.04      -581.84
2021-07-13  2888.11 -1403.22   1665.39   913.40      2578.79      1484.89
2021-07-14  -672.01   450.45  -5189.58 -5616.27    -10805.85      -221.56

[1572 rows x 6 columns]

In [144]:
data = pd.concat([hs300, df], axis=1)
data.head()

,ts_code,close,open,high,low,pre_close,change,pct_chg,vol,amount,ggt_ss,ggt_sz,hgt,sgt,north_money,south_money
trade_date,,,,,,,,,,,,,,,,
2014-11-17,399300.SZ,2567.101,2613.513,2614.086,2565.943,2581.093,-13.992,-0.5421,158478095.0,1.477246e+08,1768.0,NaN,13000.0,NaN,13000.0,1768.0
2014-11-18,399300.SZ,2541.416,2565.273,2570.211,2534.927,2567.101,-25.685,-1.0005,142941356.0,1.242466e+08,800.0,NaN,4845.0,NaN,4845.0,800.0
2014-11-19,399300.SZ,2537.223,2538.233,2550.500,2531.318,2541.416,-4.193,-0.1650,122146974.0,1.130317e+08,253.0,NaN,2612.0,NaN,2612.0,253.0
2014-11-20,399300.SZ,2537.099,2528.780,2545.473,2522.836,2537.223,-0.124,-0.0049,106149864.0,9.814554e+07,196.0,NaN,2276.0,NaN,2276.0,196.0
2014-11-21,399300.SZ,2583.455,2537.538,2585.362,2530.032,2537.099,46.356,1.8271,151028139.0,1.437508e+08,186.0,NaN,2341.0,NaN,2341.0,186.0

In [145]:
dat = data[["close", "open", "pct_chg", "north_money"]]

In [146]:
dat.head()

               close      open  pct_chg  north_money
trade_date
2014-11-17  2567.101  2613.513  -0.5421      13000.0
2014-11-18  2541.416  2565.273  -1.0005       4845.0
2014-11-19  2537.223  2538.233  -0.1650       2612.0
2014-11-20  2537.099  2528.780  -0.0049       2276.0
2014-11-21  2583.455  2537.538   1.8271       2341.0

In [148]:
dat.corr()

                close      open   pct_chg  north_money
close        1.000000  0.996585  0.039872     0.037989
open         0.996585  1.000000 -0.030713     0.014276
pct_chg      0.039872 -0.030713  1.000000     0.326487
north_money  0.037989  0.014276  0.326487     1.000000

In [158]:
dat["north_money"].quantile(3/4)

2313.5175

In [154]:
dat[dat.index == pd.to_datetime("2021-05-25")]

               close       open  pct_chg  north_money
trade_date
2021-05-25  5318.478  5165.0361   3.1595     21723.33

In [155]:
df[df.index == pd.to_datetime("2021-05-25")]

             ggt_ss   ggt_sz       hgt      sgt  north_money  south_money
trade_date
2021-05-25  2976.45  4882.97  16811.77  4911.56     21723.33      7859.42

26172.289156626506

In [159]:
data.head()

,ts_code,close,open,high,low,pre_close,change,pct_chg,vol,amount,ggt_ss,ggt_sz,hgt,sgt,north_money,south_money
trade_date,,,,,,,,,,,,,,,,
2014-11-17,399300.SZ,2567.101,2613.513,2614.086,2565.943,2581.093,-13.992,-0.5421,158478095.0,1.477246e+08,1768.0,NaN,13000.0,NaN,13000.0,1768.0
2014-11-18,399300.SZ,2541.416,2565.273,2570.211,2534.927,2567.101,-25.685,-1.0005,142941356.0,1.242466e+08,800.0,NaN,4845.0,NaN,4845.0,800.0
2014-11-19,399300.SZ,2537.223,2538.233,2550.500,2531.318,2541.416,-4.193,-0.1650,122146974.0,1.130317e+08,253.0,NaN,2612.0,NaN,2612.0,253.0
2014-11-20,399300.SZ,2537.099,2528.780,2545.473,2522.836,2537.223,-0.124,-0.0049,106149864.0,9.814554e+07,196.0,NaN,2276.0,NaN,2276.0,196.0
2014-11-21,399300.SZ,2583.455,2537.538,2585.362,2530.032,2537.099,46.356,1.8271,151028139.0,1.437508e+08,186.0,NaN,2341.0,NaN,2341.0,186.0

In [166]:
(data["close"].shift(-1) - data["close"])/data["close"]

trade_date
2014-11-17   -0.010005
2014-11-18   -0.001650
2014-11-19   -0.000049
2014-11-20    0.018271
2014-11-21    0.025471
                ...
2021-07-08   -0.003699
2021-07-09    0.012481
2021-07-12    0.001830
2021-07-13         NaN
2021-07-14         NaN
Name: close, Length: 1623, dtype: float64

In [172]:
dat.loc[pd.to_datetime("2021-07-01"), "north_money"] == 1

False

In [173]:
pro.hsgt_top10(trade_date="20180725", market_type="1")

,trade_date,ts_code,name,close,change,rank,market_type,amount,net_amount,buy,sell
0,20180725,600009.SH,上海机场,62.69,2.0677,9,1,240958518.0,31199144.0,136078831.0,104879687.0
1,20180725,600019.SH,宝钢股份,8.62,0.9368,7,1,245582396.0,81732606.0,163657501.0,81924895.0
2,20180725,600036.SH,招商银行,28.22,1.6937,10,1,240655550.0,142328622.0,191492086.0,49163464.0
3,20180725,600276.SH,恒瑞医药,71.89,1.2393,5,1,329472455.0,-71519443.0,128976506.0,200495949.0
4,20180725,600519.SH,贵州茅台,743.81,-0.2133,2,1,508590993.0,226149667.0,367370330.0,141220663.0
5,20180725,600585.SH,海螺水泥,38.23,-0.4427,3,1,357946144.0,51215890.0,204581017.0,153365127.0
6,20180725,600690.SH,青岛海尔,18.09,0.0000,8,1,243840019.0,-55595149.0,94122435.0,149717584.0
7,20180725,600887.SH,伊利股份,27.54,-1.7131,6,1,296552611.0,-40273759.0,128139426.0,168413185.0
8,20180725,601318.SH,中国平安,62.16,0.6803,1,1,534002916.0,287838388.0,410920652.0,123082264.0
9,20180725,601888.SH,中国国旅,74.19,5.5184,4,1,342115066.0,-63262966.0,139426050.0,202689016.0

In [9]:
hs300 = pro.index_daily(ts_code='399673.SZ', start_date='20141117', end_date='20210715')
hs300["trade_date"] = pd.to_datetime(hs300["trade_date"])
hs300.set_index("trade_date", inplace=True)

In [10]:
hs300.head()

,ts_code,close,open,high,low,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,
2021-07-15,399673.SZ,3590.0862,3518.6113,3590.0862,3496.6092,3534.8110,55.2752,1.5637,13425194.0,69676613.7
2021-07-14,399673.SZ,3534.8110,3531.6041,3589.5279,3499.6128,3558.6395,-23.8285,-0.6696,14734211.0,76077059.8
2021-07-13,399673.SZ,3558.6395,3567.1489,3609.8495,3517.9735,3587.5516,-28.9121,-0.8059,15561036.0,82499683.7
2021-07-12,399673.SZ,3587.5516,3510.8858,3615.8903,3481.2433,3462.0353,125.5163,3.6255,19555590.0,98725931.2
2021-07-09,399673.SZ,3462.0353,3466.2051,3482.9911,3379.9620,3488.0496,-26.0143,-0.7458,14071296.0,79597938.1

In [7]:
df = pro.stk_limit(trade_date='20190625')

Exception: 抱歉，您没有访问该接口的权限，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。

In [47]:
x

Empty DataFrame
Columns: [trade_date, ts_code, name, close, change, rank, market_type, amount, net_amount, buy, sell]
Index: []

In [50]:
x = pro.hsgt_top10(trade_date="20210809")
y = pro.hsgt_top10(trade_date="20210808")
df = pd.concat([x, y], ignore_index=True)
df

,trade_date,ts_code,name,close,change,rank,market_type,amount,net_amount,buy,sell
0,20210809,000001.SZ,平安银行,19.06,6.7189,7,3,1.073227e+09,-149832006.0,4.616977e+08,6.115297e+08
1,20210809,000858.SZ,五粮液,230.01,1.7743,2,3,2.002322e+09,-89707704.0,9.563069e+08,1.046015e+09
2,20210809,002074.SZ,国轩高科,61.15,-4.2287,8,3,8.611891e+08,-170459185.0,3.453649e+08,5.158241e+08
3,20210809,002460.SZ,赣锋锂业,181.21,-5.1356,6,3,1.127152e+09,-133256814.0,4.969477e+08,6.302045e+08
4,20210809,002475.SZ,立讯精密,42.18,3.7638,10,3,8.489588e+08,83163261.0,4.660610e+08,3.828978e+08
5,20210809,002594.SZ,比亚迪,293.55,-3.2720,4,3,1.559811e+09,185635595.0,8.727235e+08,6.870879e+08
6,20210809,300059.SZ,东方财富,33.26,1.0021,5,3,1.341951e+09,-264393477.0,5.387785e+08,8.031720e+08
7,20210809,300274.SZ,阳光电源,157.90,-1.1642,3,3,1.763506e+09,-158837055.0,8.023344e+08,9.611715e+08
8,20210809,300450.SZ,先导智能,78.51,-1.7274,9,3,8.572037e+08,122012846.0,4.896083e+08,3.675954e+08
9,20210809,300750.SZ,宁德时代,516.00,-5.1261,1,3,2.394986e+09,563540.0,1.197775e+09,1.197211e+09
10,20210809,600031.SH,三一重工,31.44,4.9750,1,1,2.472733e+09,-32519455.0,1.220107e+09,1.252626e+09
11,20210809,600036.SH,招商银行,49.06,3.0889,8,1,1.040171e+09,-188922505.0,4.256243e+08,6.145468e+08
12,20210809,600111.SH,北方稀土,45.64,-4.8572,3,1,1.725146e+09,-35993413.0,8.445763e+08,8.805697e+08
13,20210809,600276.SH,恒瑞医药,56.92,3.8686,9,1,1.039266e+09,139673879.0,5.894701e+08,4.497963e+08
14,20210809,600519.SH,贵州茅台,1693.80,1.3645,2,1,2.389559e+09,-219689292.0,1.084935e+09,1.304624e+09
15,20210809,601012.SH,隆基股份,88.03,-4.2111,4,1,1.534316e+09,-715300268.0,4.095077e+08,1.124808e+09
16,20210809,601318.SH,中国平安,55.12,2.7017,5,1,1.421611e+09,-89597261.0,6.660069e+08,7.556042e+08
17,20210809,601888.SH,中国中免,260.40,3.3333,7,1,1.078789e+09,-19359840.0,5.297145e+08,5.490743e+08
18,20210809,603259.SH,药明康德,142.78,-3.0027,10,1,8.770771e+08,107220650.0,4.921489e+08,3.849282e+08
19,20210809,603501.SH,韦尔股份,291.26,-5.7319,6,1,1.082694e+09,-310770183.0,3.859617e+08,6.967319e+08

In [51]:
net = df.groupby("name")["net_amount"].sum().sort_values()
total = df.groupby("name")["amount"].sum()

In [54]:
net

name
隆基股份   -715300268.0
韦尔股份   -310770183.0
东方财富   -264393477.0
贵州茅台   -219689292.0
招商银行   -188922505.0
国轩高科   -170459185.0
阳光电源   -158837055.0
平安银行   -149832006.0
赣锋锂业   -133256814.0
五粮液     -89707704.0
中国平安    -89597261.0
北方稀土    -35993413.0
三一重工    -32519455.0
中国中免    -19359840.0
宁德时代       563540.0
立讯精密     83163261.0
药明康德    107220650.0
先导智能    122012846.0
恒瑞医药    139673879.0
比亚迪     185635595.0
Name: net_amount, dtype: float64

In [57]:
net["三一重工"] / total["三一重工"]

-0.013151218515979444

In [53]:
net / total

name
三一重工   -0.013151
东方财富   -0.197022
中国中免   -0.017946
中国平安   -0.063025
五粮液    -0.044802
先导智能    0.142338
北方稀土   -0.020864
国轩高科   -0.197935
宁德时代    0.000235
平安银行   -0.139609
恒瑞医药    0.134397
招商银行   -0.181626
比亚迪     0.119012
立讯精密    0.097959
药明康德    0.122248
贵州茅台   -0.091937
赣锋锂业   -0.118224
阳光电源   -0.090069
隆基股份   -0.466201
韦尔股份   -0.287034
dtype: float64

In [11]:
pro.top_list("2017-07-06")

Exception: 抱歉，您没有访问该接口的权限，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。

In [13]:
ts.cap_tops()

[Getting data:]#######

       code  name  count    bamount     samount        net  bcount  scount
0    600338  西藏珠峰      2  270805.21   174231.74   96573.47       8      10
1    002326  永太科技      2  268886.55   180709.20   88177.36       9       9
2    000848  承德露露      2  151067.80    78724.28   72343.52       8       9
3    002008  大族激光      1  135332.73    65150.09   70182.64       5       3
4    600111  北方稀土      1  213301.80   145412.30   67889.50       4       3
..      ...   ...    ...        ...         ...        ...     ...     ...
236  002667  鞍重股份      3   90838.50   127101.26  -36262.75      15      15
237  000063  中兴通讯      1  101495.38   140710.80  -39215.42       5       2
238  000723  美锦能源      2  199374.56   245983.08  -46608.51       7       9
239  603986  兆易创新      1  104600.66   156231.60  -51630.94       3       2
240  000792  盐湖股份      3  432798.48  1192923.45 -760124.98      10      11

[241 rows x 8 columns]

In [19]:
ts.broker_tops(10)

[Getting data:]#######################################

,broker,count,bamount,bcount,samount,scount,top3
0,中国国际金融股份有限公司上海黄浦区湖滨路证券营业部,146,316863.46,78,189893.02,68,"诺德股份,滨化股份,江特电机,"
1,华泰证券股份有限公司总部,166,327683.60,91,170558.33,75,"滨化股份,中国电建,诺德股份,"
2,国融证券股份有限公司杭州市心北路证券营业部,24,26933.35,17,11854.14,7,"科泰电源,中国西电,海伦哲,"
3,国联证券股份有限公司上海港俞路证券营业部,2,1146.09,1,519.35,1,"腾达建设,伟时电子"
4,东莞证券股份有限公司浙江分公司,15,10042.75,11,4845.99,4,"浙江新能,科泰电源,厦工股份,"
...,...,...,...,...,...,...,...
1552,华泰证券股份有限公司郑州农业路证券营业部,1,0.00,0,2480.67,1,深冷股份
1553,国联证券股份有限公司上海田林东路证券营业部,1,666.33,1,0.00,0,卓越新能
1554,东北证券股份有限公司四平新华大街证券营业部,1,0.00,0,658.50,1,卓越新能
1555,财达证券股份有限公司合肥潜山路证券营业部,1,471.27,1,0.00,0,大地熊
1556,山西证券股份有限公司太原平阳路证券营业部,1,424.46,1,0.00,0,大地熊

In [59]:
ts.inst_tops(10)

[Getting data:]#######

       code  name    bamount  bcount    samount  scount        net
0    600338  西藏珠峰  137423.54      10   28964.70       1  108458.84
1    300827  上能电气   47850.20       2       0.00       0   47850.20
2    002837   英维克   49823.45       6    9108.95       4   40714.50
3    000155  川能动力   63507.11       4   29066.37       3   34440.74
4    000009  中国宝安   82567.58       9   48237.69       5   34329.89
..      ...   ...        ...     ...        ...     ...        ...
246  000063  中兴通讯       0.00       0   71150.20       4  -71150.20
247  603986  兆易创新   42652.18       3  117707.00       4  -75054.82
248  600196  复星医药    6406.53       1   89394.10       1  -82987.57
249  603259  药明康德   27914.10       2  155801.10       4 -127887.00
250  000792  盐湖股份  203068.99       5  505552.80       5 -302483.81

[251 rows x 7 columns]

In [17]:
ts.inst_detail()

[Getting data:]#######

       code  name        date  bamount  samount                     type
0    300435  中泰股份  2021-08-17     0.00  2392.13                      NaN
1    603136   天目湖  2021-08-17  1505.76  1278.14  连续三个交易日内，涨幅偏离值累计达20%的证券
2    301020  密封科技  2021-08-17  1325.00     0.00                      NaN
3    600746  江苏索普  2021-08-17     0.00  8200.64               振幅值达15%的证券
4    002837   英维克  2021-08-17  2274.21  1991.65               振幅值达15%的证券
..      ...   ...         ...      ...      ...                      ...
236  601001  晋控煤业  2021-08-10  6484.08  1515.08              涨幅偏离值达7%的证券
237  000848  承德露露  2021-08-10  1734.83     0.00              涨幅偏离值达7%的证券
238  300159  新研股份  2021-08-10  2555.09    10.27                      NaN
239  001211  双枪科技  2021-08-10     0.00   501.45               振幅值达15%的证券
240  002240  盛新锂能  2021-08-10  3100.07     0.00              跌幅偏离值达7%的证券

[241 rows x 6 columns]

In [33]:
ts.top_list()

,code,name,pchange,amount,buy,sell,reason,bratio,sratio,date
0,000669,*ST金鸿,4.8583,1550.98,973.97,577.00,连续三个交易日内，涨幅偏离值累计达到12%的ST证券、*ST证券和未完成股改证券,0.26,0.15,2021-08-17
1,000697,炼石航空,5.4106,26896.39,11037.55,15858.85,日振幅值达到15%的前5只证券,0.14,0.20,2021-08-17
2,000751,锌业股份,10.1299,11950.96,9520.57,2430.39,日涨幅偏离值达到7%的前5只证券,0.18,0.05,2021-08-17
3,000821,京山轻机,-9.9636,18377.42,7202.79,11174.63,日跌幅偏离值达到7%的前5只证券,0.10,0.16,2021-08-17
4,000833,粤桂股份,2.0619,13044.39,6410.43,6633.96,连续三个交易日内，涨幅偏离值累计达到20%的证券,0.10,0.11,2021-08-17
...,...,...,...,...,...,...,...,...,...,...
62,605011,杭州热电,10.0226,5592.26,3596.27,1995.99,有价格涨跌幅限制的日收盘价格涨幅偏离值达到7%的前三只证券,0.19,0.10,2021-08-17
63,605162,新中港,0.6808,8455.04,3709.92,4745.12,有价格涨跌幅限制的日换手率达到20%的前三只证券,0.06,0.08,2021-08-17
64,605196,华通线缆,4.3997,9955.72,3662.07,6293.65,有价格涨跌幅限制的日换手率达到20%的前三只证券,0.06,0.11,2021-08-17
65,688077,大地熊,-15.4919,7375.13,3240.06,4135.07,有价格涨跌幅限制的日收盘价格跌幅达到15%的前五只证券,0.09,0.11,2021-08-17
66,688196,卓越新能,-19.997,8353.69,3080.18,5273.51,有价格涨跌幅限制的日收盘价格跌幅达到15%的前五只证券,0.12,0.21,2021-08-17

In [21]:
help(ts.top_list)

Help on function top_list in module tushare.stock.billboard:

top_list(date=None, retry_count=3, pause=0.001)
    获取每日龙虎榜列表
    Parameters
    --------
    date:string
                明细数据日期 format：YYYY-MM-DD 如果为空，返回最近一个交易日的数据
    retry_count : int, 默认 3
                 如遇网络等问题重复执行的次数
    pause : int, 默认 0
                重复请求数据过程中暂停的秒数，防止请求间隔时间太短出现的问题

    Return
    ------
    DataFrame
        code：代码
        name ：名称
        pchange：涨跌幅
        amount：龙虎榜成交额(万)
        buy：买入额(万)
        bratio：占总成交比例
        sell：卖出额(万)
        sratio ：占总成交比例
        reason：上榜原因
        date  ：日期

In [60]:
d = {"a": 1, "b": 2}

In [61]:
pd.Series(d)

a    1
b    2
dtype: int64

In [77]:
import akshare as ak
ak.stock_board_concept_index_ths(symbol="丙烯酸")

AttributeError: module 'akshare' has no attribute 'stock_board_concept_index_ths'

In [79]:
ak.stock_sector_fund_flow_rank()

,序号,名称,10日涨跌幅,10日主力净流入-净额,10日主力净流入-净占比,10日超大单净流入-净额,10日超大单净流入-净占比,10日大单净流入-净额,10日大单净流入-净占比,10日中单净流入-净额,10日中单净流入-净占比,10日小单净流入-净额,10日小单净流入-净占比,10日主力净流入最大股
0,1,券商信托,9.58,6.315379e+09,1.51,8.291805e+09,1.98,-1.976427e+09,-0.47,-5.227059e+09,-1.25,-1.088320e+09,-0.26,华泰证券
1,2,银行,2.92,3.688842e+09,2.04,2.634210e+09,1.45,1.054632e+09,0.58,-2.185332e+09,-1.21,-1.503510e+09,-0.83,招商银行
2,3,房地产,1.72,6.847073e+08,0.45,1.220390e+09,0.80,-5.356823e+08,-0.35,-1.181077e+09,-0.77,4.963701e+08,0.32,万 科Ａ
3,4,木业家具,2.20,2.481770e+07,0.09,1.053049e+07,0.04,1.428722e+07,0.05,-1.651443e+08,-0.57,1.403266e+08,0.48,欧派家居
4,5,工艺商品,0.85,-9.681987e+06,-1.70,-7.175745e+06,-1.26,-2.506242e+06,-0.44,-9.757345e+06,-1.71,1.943933e+07,3.42,德艺文创
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,机械行业,2.76,-2.314112e+10,-3.55,-9.283913e+09,-1.42,-1.385721e+10,-2.12,-1.222524e+09,-0.19,2.436364e+10,3.73,大族激光
57,58,医疗行业,-4.15,-2.348596e+10,-7.37,-1.242925e+10,-3.90,-1.105671e+10,-3.47,7.939410e+09,2.49,1.554654e+10,4.88,大参林
58,59,医药制造,-2.50,-3.080748e+10,-5.39,-1.717749e+10,-3.01,-1.362999e+10,-2.38,5.073465e+09,0.89,2.573401e+10,4.50,新 和 成
59,60,材料行业,-0.88,-3.094219e+10,-5.25,-1.964638e+10,-3.33,-1.129581e+10,-1.92,6.846759e+09,1.16,2.409543e+10,4.09,壹石通
60,61,电子元件,-1.97,-6.529499e+10,-4.82,-3.674376e+10,-2.71,-2.855123e+10,-2.11,1.159091e+10,0.86,5.370408e+10,3.96,艾为电子

In [80]:
help(ak.stock_sector_fund_flow_rank)

Help on function stock_sector_fund_flow_rank in module akshare.stock.stock_fund:

stock_sector_fund_flow_rank(indicator: str = '10日', sector_type: str = '行业资金流') -> pandas.core.frame.DataFrame
    东方财富网-数据中心-资金流向-板块资金流-排名
    http://data.eastmoney.com/bkzj/hy.html
    :param indicator: choice of {"今日", "5日", "10日"}
    :type indicator: str
    :param sector_type: choice of {"行业资金流", "概念资金流", "地域资金流"}
    :type sector_type: str
    :return: 指定参数的资金流排名数据
    :rtype: pandas.DataFrame

In [85]:
ak.stock_board_industry_index_ths()

,日期,开盘价,最高价,最低价,收盘价,成交量,成交额
0,2007-08-01,1000.809,1000.809,941.150,941.150,163849330,1747732000.000
1,2007-08-02,943.120,971.811,943.120,971.811,139689670,1546399600.000
2,2007-08-03,977.778,991.772,977.778,991.772,156095660,1897575100.000
3,2007-08-06,998.443,1010.531,998.443,1010.531,171005760,2087825100.000
4,2007-08-07,1012.746,1012.746,1011.061,1011.061,183370260,2201639300.000
...,...,...,...,...,...,...,...
3416,2021-08-16,8873.687,9115.318,8759.533,8982.742,1839025100,79664867000.000
3417,2021-08-17,8970.920,8998.830,8602.381,8626.393,2021746700,76419711000.000
3418,2021-08-18,8619.665,8700.714,8531.982,8597.486,1616087300,64836917000.000
3419,2021-08-19,8579.119,8759.214,8557.169,8680.299,1443623200,64009127000.000
3420,2021-08-20,8641.521,8796.955,8554.970,8701.253,1542804500,69145270000.000

In [86]:
help(ak.stock_board_concept_cons_ths)

Help on function stock_board_concept_cons_ths in module akshare.stock_feature.stock_board_concept_ths:

stock_board_concept_cons_ths(symbol: str = '阿里巴巴概念') -> pandas.core.frame.DataFrame
    同花顺-板块-概念板块-成份股
    http://q.10jqka.com.cn/gn/detail/code/301558/
    :param symbol: 板块名称
    :type symbol: str
    :return: 成份股
    :rtype: pandas.DataFrame

In [87]:
help(ak.stock_board_concept_hist_ths)

Help on function stock_board_concept_hist_ths in module akshare.stock_feature.stock_board_concept_ths:

stock_board_concept_hist_ths(start_year: str = '2000', symbol: str = '安防') -> pandas.core.frame.DataFrame
    同花顺-板块-概念板块-指数数据
    http://q.10jqka.com.cn/gn/detail/code/301558/
    :param start_year: 开始年份; e.g., 2019
    :type start_year: str
    :param symbol: 板块简介
    :type symbol: str
    :return: 板块简介
    :rtype: pandas.DataFrame

In [90]:
ak.stock_board_concept_hist_ths(start_year="2010", symbol="安防")

,日期,开盘价,最高价,最低价,收盘价,成交量,成交额
0,2012-04-09,995.130,1004.652,983.521,983.999,171122950,1.974472e+09
1,2013-05-09,1000.000,1015.111,993.333,1014.666,49411688,1.128905e+09
2,2013-05-10,1008.831,1015.567,994.598,1003.504,34916064,7.939423e+08
3,2013-05-13,1003.504,1007.406,994.583,1007.295,34674572,8.059748e+08
4,2013-05-14,1005.392,1005.616,977.299,979.090,34148598,7.600472e+08
...,...,...,...,...,...,...,...
2015,2021-08-16,3163.297,3190.075,3153.771,3171.102,1157647400,1.964727e+10
2016,2021-08-17,3164.163,3165.006,3066.927,3072.889,1255947500,1.872535e+10
2017,2021-08-18,3059.002,3083.120,3046.820,3082.925,1049815620,1.606401e+10
2018,2021-08-19,3070.637,3090.189,3051.672,3072.238,897055970,1.385082e+10
2019,2021-08-20,3060.661,3060.679,3020.292,3052.180,919436730,1.633042e+10

In [91]:
ak.index_stock_info()

    index_code display_name publish_date
0       000001         上证指数   1991-07-15
1       000002         A股指数   1992-02-21
2       000003         B股指数   1992-02-21
3       000004         工业指数   1993-05-03
4       000005         商业指数   1993-05-03
..         ...          ...          ...
693     399994   中证信息安全主题指数   2015-03-12
694     399995     中证基建工程指数   2015-03-12
695     399996     中证智能家居指数   2014-09-17
696     399997       中证白酒指数   2015-01-21
697     399998       中证煤炭指数   2015-02-13

[698 rows x 3 columns]

In [92]:
ak.stock_em_ggcg()

/Users/linfengli/opt/anaconda3/envs/vnpy_219/lib/python3.7/site-packages/akshare/stock_feature/stock_em_gdzjc.py:21: UserWarning: 正在下载数据，请稍等
  warnings.warn("正在下载数据，请稍等")

,代码,名称,最新价,涨跌幅,股东名称,持股变动信息-增减,持股变动信息-变动数量,持股变动信息-占总股本比例,持股变动信息-占流通股比例,变动后持股情况-持股总数,变动后持股情况-占总股本比例,变动后持股情况-持流通股数,变动后持股情况-占流通股比例,变动开始日,变动截止日,公告日
0,000534,万泽股份,16.39,1.24,江西赣江融创投资有限公司,减持,494.97,1.0001,1.01,4231.5599,8.55,4231.5599,8.61,2021-08-16,2021-08-20,2021-08-21
1,002191,劲嘉股份,9.66,2.66,亚东复星瑞哲安泰发展有限公司,减持,52.88,0.0361,0.04,3423.0048,2.34,3423.0048,2.37,2021-02-22,2021-08-20,2021-08-21
2,002461,珠江啤酒,9.26,-0.64,广州国资发展控股有限公司,减持,76.54,0.0346,0.03,49071.1904,22.17,49071.1904,22.17,2021-06-09,2021-08-20,2021-08-21
3,300153,科泰电源,13.13,-1.43,新疆荣旭泰投资有限合伙企业,减持,300,0.9374,0.95,2435.57,7.61,2435.57,7.67,2021-05-15,2021-08-20,2021-08-21
4,601128,常熟银行,6.28,0.32,张康德,增持,8.09,0,0,8.09,0,8.09,0,2021-08-20,2021-08-20,2021-08-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83179,002176,江特电机,22.11,-1.29,江西江特实业有限公司,增持,20,0.045,0.05,40,0.09,40,0.09,2012-01-06,2013-01-04,2013-01-08
83180,002472,双环传动,21.81,-2.98,深圳中欧创业投资合伙企业(有限合伙),减持,17.8296,0.0641,0.17,1389.95,5,1389.95,12.94,2013-01-04,2013-01-04,2013-01-08
83181,600337,美克家居,3.58,-0.28,美克投资集团有限公司,增持,67.4303,0.1066,0.115,26771.9014,42.32,22141.1036,37.7595,2012-12-29,2013-01-04,2013-01-08
83182,600381,青海春天,7.77,-5.59,北京中金祥合资产管理有限公司,减持,352,0.2199,0.2973,7843,4.9,7843,6.62,2013-01-04,2013-01-04,2013-01-08
83183,600157,永泰能源,1.61,-1.23,中国华电集团资本控股有限公司,减持,547,0.3097,0.5147,8390,4.75,910,0.86,2013-01-04,2013-01-04,2013-01-05

In [93]:
help(ak.stock_em_ggcg)

Help on function stock_em_ggcg in module akshare.stock_feature.stock_em_gdzjc:

stock_em_ggcg()
    东方财富网-数据中心-特色数据-高管持股
    http://data.eastmoney.com/executive/gdzjc.html
    :return: 高管持股
    :rtype: pandas.DataFrame

In [101]:
df.head()

,序号,代码,名称,涨跌幅,最新价,成交额,流通市值,总市值,换手率,封板资金,首次封板时间,最后封板时间,炸板次数,涨停统计,连板数,所属行业
0,1,001206,依依股份,9.997873,103420,475908944,2.438995e+09,9.755978e+09,19.512501,197969149,092500,092500,0,6/6,6,造纸印刷
1,2,002280,联络互动,9.969789,3640,4352348,6.411495e+09,7.924825e+09,0.067884,109714696,092500,092500,0,1/1,1,软件服务
2,3,002581,未名医药,10.005438,20230,556687872,8.108005e+09,1.334645e+10,6.870867,164487520,092500,100430,1,1/1,1,医药制造
3,4,002679,福建金森,10.012920,17030,41458359,4.014925e+09,4.014925e+09,1.032606,100919252,092500,092500,0,4/4,4,木业家具
4,5,603998,方盛制药,10.076336,7210,206754427,3.096188e+09,3.096188e+09,6.679019,25516911,092500,103948,6,1/1,1,医药制造

In [100]:
df = ak.stock_em_zt_pool(date="20210525")
df.groupby("所属行业")["代码"].count()

所属行业
专用设备    1
仪器仪表    1
券商信托    4
化工行业    3
化纤行业    2
医疗行业    1
医药制造    8
国际贸易    1
塑胶制品    1
多元金融    1
房地产     1
文化传媒    2
木业家具    1
机械行业    2
材料行业    1
汽车行业    2
煤炭采选    2
环保工程    1
电力行业    1
电子信息    1
纺织服装    2
综合行业    1
航天航空    1
软件服务    2
输配电气    1
通讯行业    1
造纸印刷    2
银行      1
食品饮料    2
Name: 代码, dtype: int64

In [99]:
pro.trade_cal(exchange="", end_date="20210822")

      exchange  cal_date  is_open
0          SSE  19901219        1
1          SSE  19901220        1
2          SSE  19901221        1
3          SSE  19901222        0
4          SSE  19901223        0
...        ...       ...      ...
11200      SSE  20210818        1
11201      SSE  20210819        1
11202      SSE  20210820        1
11203      SSE  20210821        0
11204      SSE  20210822        0

[11205 rows x 3 columns]

In [154]:
ak.stock_em_zt_pool_dtgc(date="20200106")

,序号,代码,名称,涨跌幅,最新价,成交额,流通市值,总市值,动态市盈率,换手率,封单资金,最后封板时间,板上成交额,连续跌停,开板次数,所属行业
0,1,000949,新乡化纤,-9.975669,3.70,420795168,4.651327e+09,4.653327e+09,34.709698,8.963997,7361031600,145657,181550071900,1,44,化纤行业
1,2,300787,海能实业,-9.994644,84.02,705897472,1.782904e+09,7.131618e+09,56.761723,39.264042,44932131580,132118,346694498660,2,4,电子元件
2,3,603536,惠发食品,-10.000000,20.07,9356634,1.209299e+09,3.371760e+09,-62.680534,0.773724,578458964970,092504,9356634000,2,0,食品饮料

In [103]:
from datetime import datetime

In [104]:
dt = datetime(2021, 8, 23)

In [106]:
dt.isoweekday()

1

In [107]:
pd.to_datetime(dt).isoweekday()

1

In [109]:
df = pro.index_daily(ts_code="399300.SZ")
df.head()

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,399300.SZ,20210820,4769.2678,4817.4937,4835.1530,4720.8257,4862.1394,-92.8716,-1.9101,177635810.0,404938035.6
1,399300.SZ,20210819,4862.1394,4886.5640,4893.4670,4839.5681,4894.2384,-32.0990,-0.6559,201711719.0,397424964.8
2,399300.SZ,20210818,4894.2384,4838.4706,4909.5409,4818.9013,4837.4034,56.8350,1.1749,197474378.0,395792165.7
3,399300.SZ,20210817,4837.4034,4935.0044,4967.5648,4823.3923,4941.0676,-103.6642,-2.0980,187573472.0,388457131.5
4,399300.SZ,20210816,4941.0676,4935.9229,4973.3761,4931.3691,4945.9829,-4.9153,-0.0994,161953373.0,340735120.1

In [112]:
df["close"].shift() / df["close"] - 1

0            NaN
1      -0.019101
2      -0.006559
3       0.011749
4      -0.020980
          ...
4039    0.003276
4040    0.010083
4041    0.000797
4042   -0.009460
4043    0.009941
Name: close, Length: 4044, dtype: float64

In [120]:
df["trade_date"] = pd.to_datetime(df["trade_date"])
df["week_day"] = df["trade_date"].apply(lambda dt: dt.isoweekday())
df.set_index("trade_date", inplace=True)
df.sort_index(ascending=True, inplace=True)
df.head()

,ts_code,close,open,high,low,pre_close,change,pct_chg,vol,amount,week_day
trade_date,,,,,,,,,,,
2005-01-04,399300.SZ,982.794,994.769,994.769,980.658,1000.000,-17.206,-1.7206,7412868.94,4431977.418,2
2005-01-05,399300.SZ,992.564,981.577,997.323,979.877,982.794,9.770,0.9941,7119108.98,4529208.214,3
2005-01-06,399300.SZ,983.174,993.331,993.788,980.330,992.564,-9.390,-0.9460,6288029.05,3921015.420,4
2005-01-07,399300.SZ,983.958,983.045,995.711,979.812,983.174,0.784,0.0797,7298694.09,4737469.399,5
2005-01-10,399300.SZ,993.879,983.760,993.959,979.789,983.958,9.921,1.0083,5791697.99,3762932.890,1

In [121]:
(982.794 - 1000)/1000

-0.017206000000000016

In [124]:
df["close"].shift(-1) / df["close"]  - 1

trade_date
2005-01-04    0.009941
2005-01-05   -0.009460
2005-01-06    0.000797
2005-01-07    0.010083
2005-01-10    0.003276
                ...
2021-08-16   -0.020980
2021-08-17    0.011749
2021-08-18   -0.006559
2021-08-19   -0.019101
2021-08-20         NaN
Name: close, Length: 4044, dtype: float64

In [126]:
df["pct_chg"].shift(-1)

trade_date
2005-01-04    0.9941
2005-01-05   -0.9460
2005-01-06    0.0797
2005-01-07    1.0083
2005-01-10    0.3276
               ...
2021-08-16   -2.0980
2021-08-17    1.1749
2021-08-18   -0.6559
2021-08-19   -1.9101
2021-08-20       NaN
Name: pct_chg, Length: 4044, dtype: float64

In [127]:
df.drop(columns=["vol"], inplace=True)
df.head()

,ts_code,close,open,high,low,pre_close,change,pct_chg,amount,week_day
trade_date,,,,,,,,,,
2005-01-04,399300.SZ,982.794,994.769,994.769,980.658,1000.000,-17.206,-1.7206,4431977.418,2
2005-01-05,399300.SZ,992.564,981.577,997.323,979.877,982.794,9.770,0.9941,4529208.214,3
2005-01-06,399300.SZ,983.174,993.331,993.788,980.330,992.564,-9.390,-0.9460,3921015.420,4
2005-01-07,399300.SZ,983.958,983.045,995.711,979.812,983.174,0.784,0.0797,4737469.399,5
2005-01-10,399300.SZ,993.879,983.760,993.959,979.789,983.958,9.921,1.0083,3762932.890,1

In [128]:
df.groupby("week_day")["pct_chg"].mean()

week_day
1    0.179501
2    0.013032
3    0.087615
4   -0.105662
5    0.094491
Name: pct_chg, dtype: float64

In [129]:
x = df.groupby("week_day")

In [130]:
x["pct_chg"].mean()

week_day
1    0.179501
2    0.013032
3    0.087615
4   -0.105662
5    0.094491
Name: pct_chg, dtype: float64

In [131]:
x["pct_chg"].median()

week_day
1    0.27315
2    0.13550
3    0.03150
4   -0.08840
5    0.11830
Name: pct_chg, dtype: float64

In [133]:
x["pct_chg"].count()

week_day
1    790
2    814
3    821
4    814
5    805
Name: pct_chg, dtype: int64

In [135]:
df["pos"] = df["pct_chg"] > 0

In [136]:
x = df.groupby("week_day")

In [137]:
x["pos"].count()

week_day
1    790
2    814
3    821
4    814
5    805
Name: pos, dtype: int64

In [140]:
df["ma_20"] = df["close"].rolling(20).mean()

In [141]:
df.head()

,ts_code,close,open,high,low,pre_close,change,pct_chg,amount,week_day,pos,ma_20
trade_date,,,,,,,,,,,,
2005-01-04,399300.SZ,982.794,994.769,994.769,980.658,1000.000,-17.206,-1.7206,4431977.418,2,False,NaN
2005-01-05,399300.SZ,992.564,981.577,997.323,979.877,982.794,9.770,0.9941,4529208.214,3,True,NaN
2005-01-06,399300.SZ,983.174,993.331,993.788,980.330,992.564,-9.390,-0.9460,3921015.420,4,False,NaN
2005-01-07,399300.SZ,983.958,983.045,995.711,979.812,983.174,0.784,0.0797,4737469.399,5,True,NaN
2005-01-10,399300.SZ,993.879,983.760,993.959,979.789,983.958,9.921,1.0083,3762932.890,1,True,NaN

In [155]:
help(ak.stock_em_zt_pool)

Help on function stock_em_zt_pool in module akshare.stock_feature.stock_em_ztb:

stock_em_zt_pool(date: str = '20210525') -> pandas.core.frame.DataFrame
    东方财富网-行情中心-涨停板行情-涨停股池
    http://quote.eastmoney.com/ztb/detail#type=ztgc
    :return: 涨停股池
    :rtype: pandas.DataFrame

In [169]:
x = ak.stock_em_zt_pool(date="20200107")
x.head()

,序号,代码,名称,涨跌幅,最新价,成交额,流通市值,总市值,换手率,封板资金,首次封板时间,最后封板时间,炸板次数,涨停统计,连板数,所属行业
0,1,603920,世运电路,9.996065,27950,630405376,3.664872e+09,1.145031e+10,17.202505,120207360000,092502,093325,1,8/5,4,电子元件
1,2,002160,常铝股份,9.883721,3780,14586029,2.579561e+09,3.007300e+09,0.565446,46884330360,092503,092503,0,2/2,2,有色金属
2,3,002385,大北农,9.954751,7290,66723095,2.027745e+10,3.058395e+10,0.329051,876018975480,092503,092503,0,6/6,6,农牧饲渔
3,4,002610,爱康科技,9.756097,1800,243214227,7.896685e+09,8.080417e+09,3.079953,51948509400,092503,092503,0,1/1,1,金属制品
4,5,002973,侨银环保,10.036276,9100,404249,3.720990e+08,3.718806e+09,0.108640,102437580700,092503,092503,0,2/2,2,公用事业

In [176]:
ak.stock_lh_yyb_most()

100%|██████████| 10/10 [00:03<00:00,  2.66it/s]

,序号,营业部名称,上榜次数,合计动用资金,年内上榜次数,年内买入股票只数,年内3日跟买成功率
0,1,东方财富证券股份有限公司拉萨团结路第二... 一线游资,13,3.44亿,3982,2907,40.92%
1,2,中国国际金融股份有限公司上海黄浦区湖滨...,12,2.52亿,1090,648,45.45%
2,3,东方财富证券股份有限公司拉萨东环路第一... 知名游资,12,2.84亿,1009,704,42.71%
3,4,华鑫证券有限责任公司上海分公司 一线游资,9,1.14亿,1900,1306,41.80%
4,5,中国国际金融股份有限公司上海分公司,8,1.20亿,509,224,45.91%
...,...,...,...,...,...,...,...
195,196,广发证券股份有限公司重庆新南路证券营业部,1,1311.09万,6,2,无符合数据
196,197,华泰证券股份有限公司杭州求是路证券营业部,1,301.06万,59,20,52.38%
197,198,华福证券有限责任公司福鼎南大路证券营业部,1,502.97万,8,3,无符合数据
198,199,财通证券股份有限公司杭州上塘路证券营业部 知名游资,1,283.81万,500,317,46.06%
199,200,国泰君安证券股份有限公司南京太平南路证... 知名游资,1,3360.50万,210,129,56.25%

In [178]:
ak.stock_lh_yyb_capital()

100%|██████████| 10/10 [00:04<00:00,  2.25it/s]

,序号,营业部名称,今日最高操作,今日最高金额,今日最高买入金额,累计参与金额,累计买入金额
0,1,深股通专用 一线游资,6,5.69亿,2.26亿,18.78亿,8.29亿
1,2,沪股通专用 一线游资,3,1.83亿,1.83亿,3.62亿,3.17亿
2,3,招商证券股份有限公司上海牡丹江路证券营业部 知名游资,3,1.48亿,1.48亿,1.59亿,1.53亿
3,4,国泰君安证券股份有限公司深圳滨海大道创...,1,1.47亿,0.00,1.47亿,0.00
4,5,瑞银证券有限责任公司上海花园石桥路证券...,5,1.31亿,1.31亿,1.86亿,1.80亿
...,...,...,...,...,...,...,...
195,196,华泰证券股份有限公司杭州求是路证券营业部,1,301.06万,0.00,301.06万,0.00
196,197,财通证券股份有限公司杭州上塘路证券营业部 知名游资,1,283.81万,0.00,283.81万,0.00
197,198,东吴证券股份有限公司苏州工业园区苏州大...,1,277.73万,0.00,277.73万,0.00
198,199,财达证券股份有限公司廊坊文安西环路证券...,1,269.70万,269.70万,269.70万,269.70万
199,200,海通证券股份有限公司汕头中山中路证券营业部,1,250.10万,240.41万,250.10万,240.41万

In [179]:
ak.stock_lh_yyb_control()

100%|██████████| 10/10 [00:03<00:00,  2.55it/s]

,序号,营业部名称,携手营业部家数,年内最佳携手对象,年内最佳携手股票数,年内最佳携手成功率
0,1,东方财富证券股份有限公司拉萨团结路第二... 一线游资,38,东方财富证券股份有限公司拉萨东环路第... 知名游资,245,47.74%
1,2,东方财富证券股份有限公司拉萨东环路第一... 知名游资,35,东方财富证券股份有限公司拉萨团结路第... 一线游资,188,47.31%
2,3,中国国际金融股份有限公司上海黄浦区湖滨...,32,中国中金财富证券有限公司北京宋庄路证...,159,44.30%
3,4,中国国际金融股份有限公司上海分公司,29,中国国际金融股份有限公司上海黄浦区湖...,75,55.41%
4,5,华鑫证券有限责任公司上海分公司 一线游资,28,深股通专用 一线游资,167,50.30%
...,...,...,...,...,...,...
189,190,海通证券股份有限公司北京中关村南大街证...,1,华鑫证券有限责任公司上海分公司 一线游资,22,40.91%
190,191,海通证券股份有限公司义乌宾王路证券营业部,1,东方财富证券股份有限公司拉萨东环路第... 知名游资,1,无符合数据
191,192,兴业证券股份有限公司天津分公司,1,深股通专用 一线游资,3,无符合数据
192,193,东莞证券股份有限公司深圳后海中心路证券...,1,华鑫证券有限责任公司上海分公司 一线游资,10,66.67%
193,194,华泰证券股份有限公司台州中心大道证券营业部,1,东方财富证券股份有限公司拉萨团结路第... 一线游资,24,50.00%

In [182]:
nl = ak.stock_sina_lhb_detail_daily(trade_date="20200730", symbol="返回当前交易日所有可查询的指标")
nl

['涨幅偏离值达7%的证券',
 '连续三个交易日内，涨幅偏离值累计达20%的证券',
 '换手率达20%的证券',
 '退市整理的证券',
 '跌幅偏离值达7%的证券',
 '振幅值达15%的证券',
 '连续三个交易日内，跌幅偏离值累计达到12%的ST证券、*ST证券和未完成股改证券',
 '连续三个交易日内，日均换手率与前五个交易日的日均换手率的比值达到30倍，且换手率累计达20%的股票',
 '无价格涨跌幅限制的证券',
 '当日无价格涨跌幅限制的A股，出现异常波动停牌的股票']

In [181]:
help(ak.stock_sina_lhb_detail_daily)

Help on function stock_sina_lhb_detail_daily in module akshare.stock_feature.stock_sina_lhb:

stock_sina_lhb_detail_daily(trade_date: str = '20200730', symbol: str = '当日无价格涨跌幅限制的A股，出现异常波动停牌的股票') -> pandas.core.frame.DataFrame
    龙虎榜-每日详情
    http://vip.stock.finance.sina.com.cn/q/go.php/vInvestConsult/kind/lhb/index.phtml
    :param trade_date: 交易日, e.g., trade_date="20200729"
    :type trade_date: str
    :param symbol: 指定标题
    :type symbol: str
    :return: 龙虎榜-每日详情
    :rtype: pandas.DataFrame

In [183]:
ak.stock_sina_lhb_yytj(recent_day="5")

,营业部名称,上榜次数,累积购买额,买入席位数,累积卖出额,卖出席位数,买入前三股票
0,中国中金财富证券有限公司鞍山南胜利路证券营业部,2,862.10,1,1269.96,1,"卧龙地产,浙江新能"
1,中国中金财富证券有限公司杭州环球中心证券营业部,7,7915.03,4,4248.25,3,"金龙羽,怡球资源,绿的谐波,"
2,中国银河证券股份有限公司厦门嘉禾路证券营业部,11,3213.56,4,5805.38,7,"国安达,文化长城,深水海纳,"
3,华鑫证券有限责任公司上海分公司,104,153695.58,60,89152.41,44,"长城证券,锡业股份,锌业股份,"
4,瑞银证券有限责任公司上海花园石桥路证券营业部,27,54968.28,14,35172.75,13,"石大胜华,金博股份,石英股份,"
...,...,...,...,...,...,...,...
235,国海证券股份有限公司广东分公司,1,74.40,1,0.00,0,天翔退
236,申万宏源证券有限公司温州车站大道证券营业部,2,0.00,0,446.11,2,"梦洁股份,天翔退"
237,海通证券股份有限公司福清清昌大道证券营业部,2,408.08,1,61.97,1,"*ST天首,天翔退"
238,宏信证券有限责任公司南充丝绸路证券营业部,1,1141.10,1,0.00,0,振华重工
239,国泰君安证券股份有限公司宜昌珍珠路证券营业部,3,1926.46,2,718.11,1,"振华重工,恒而达,海伦钢琴"